<!DOCTYPE html>
<html>
   <head>
   {% block head %}
   <title>{% block title %} {{ SITENAME }} {% endblock title %}</title>
   <meta charset="UTF-8" />
   {# Hack of a jinja2 filter to add uuid4's to links to skirt browser caching #}
   <link href="/theme/css/reset.css?version={{ 'whatever'|uuid4 }}" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Press+Start+2P" rel="stylesheet" />
   <link href="/theme/css/style.css?version={{ 'whatever'|uuid4 }}" rel="stylesheet" />
   <link href="/theme/css/pygments.css?version={{ 'whatever'|uuid4 }}" rel="stylesheet" />
   <link href="/theme/css/articles.css?version={{ 'whatever'|uuid4 }}" rel="stylesheet" />
   <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/myfav.png" />
   {% endblock head %}
   </head>
   <body>
      <section id="header">
      {% block header %}
      {% include 'header.html' %}
      {% endblock header %}
      </section>
      <section id="content">
      {% block content %}
      {% endblock content %}
      </section>
   </body>
</html>
