<div class="content-container">
   <div><span class="content-tag">{{ section_tag }}</span></div>
   {% for article in filtered_articles %}
   <div class="content-block">
      <article>
         <p class="entry-title">
               <span class='fasta_header_symbol'>></span><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
         </p>
         <div class="entry-content">{{ article.summary }}</div>
         <p class='footer-date'>{{article.date.strftime('%Y-%m-%d')}}</p>
      </article>
   {% endfor %}
   </div>
</div>
